setuptools==60.2.0
six==1.16.0
wheel==0.37.1
pip==21.3.1
colorlog==6.7.0
lxml==4.9.3
wcwidth==0.2.6
attrs==23.1.0
Pygments==2.15.1
PyYAML==6.0
numpy==1.24.1
scipy==1.9.1
patsy==0.5.3
pandas==1.5.3
matplotlib==3.7.1
mpmath==1.2.1
sympy==1.11.1
decorator==5.1.1
torch==2.0.0
astunparse==1.6.3
transformers==4.28.1
beartype==0.14.0
dill==0.3.6
tensorboard==2.13.0
packaging==23.1
tqdm==4.65.0
tensorflow==2.13.0
torchvision==0.15.1
colorama==0.4.6
urllib3==1.26.13
fsspec==2023.4.0
joblib==1.2.0
optuna==3.4.0
SQLAlchemy==2.0.22
alembic==1.12.0
scikit-learn==1.3.0
plotly==5.18.0
pyarrow==12.0.0
MarkupSafe==2.1.2
pytz==2023.3
python-dateutil==2.8.2
threadpoolctl==3.1.0
murmurhash==1.0.9
datasets==2.12.0
pydantic==1.10.7
click==8.1.3
orjson==3.8.11
Pillow==9.3.0
lightning==2.1.0
fastapi==0.95.1
requests==2.31.0
Jinja2==3.1.2
uvicorn==0.22.0
websockets==11.0.2
starlette==0.26.1
beautifulsoup4==4.12.2
aiohttp==3.8.4
gradio==3.28.3
torchmetrics==0.11.4
statsmodels==0.14.0
certifi==2022.12.7
networkx==3.0
yfinance==0.2.28
keras==2.13.1